<h5 class="card-title">Listado de Clientes</h5>
<div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button">
        <a href="#/formulario" class="btn btn-primary">Crear Cliente</a>
    </button>
</div>
<div ng-hide="loading || clientes.length > 0">No se encontraron resultados</div>
<table class="table table-bordered table-striped" ng-if="clientes && clientes.length !=0 ">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EMAIL</th>
            <th>FECHA</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cliente in clientes">
            <td>{{ cliente.id}}</td>
            <td>{{ cliente.nombre}}</td>
            <td>{{ cliente.apellido}}</td>
            <td>{{ cliente.email}}</td>
            <td>{{ cliente.createAt}}</td>
            <td>
                <a href="#/formulario/{{cliente.id}}" name="editar" class="btn btn-primary">Editar</a>
            </td>
            <td>
                <a type="button " name="eliminar " class="btn btn-danger btn-sm " ng-click="removeCliente(cliente) ">Eliminar</a>
            </td>
        </tr>
    </tbody>


</table>